body {
    background-image: url("../images/wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Trebuchet MS;
    background-attachment: fixed;
    text-align: center;
}

#header_and_nav_bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    z-index: 999;
}

#header_and_nav_bar>table {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    font-size:12pt;
}

#header_and_nav_bar>table>tbody>tr>td>a {
    text-decoration: none;
    color: #FFFFFF;
}
html, body {
	padding:0;
	margin:0;
}
#form_container
{
	margin:auto;
       	position:relative;
       	width:20%; 
	top: 150px; 
	background-color:white; 
	padding:31px;
       	border-radius:17px;
	margin-bottom: 100px;
}
ul
{
	list-style-type: none;
}
