body {
    background-image: url("../images/wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Trebuchet MS;
    background-attachment: fixed;
    text-align: center;
}

#header_and_nav_bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    z-index: 999;
}

#header_and_nav_bar>table {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
}

#header_and_nav_bar>table>tbody>tr>td>a {
    text-decoration: none;
    color: #FFFFFF;
}

#videos {
    position: relative;
    display: block;
    top: 150px;
    width: 1000px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 17px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}
#videos > table {
    margin: auto;
    border-spacing:10px;
}
